body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    position: relative;

    width: 50dvh;
    max-width: 100vw;
}


#score {
    position: absolute;
    top: 0;
    right: 0;
}

#title-screen {
    width: 512px;

    width: 50dvh;
    max-width: 100vw;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 200, 0.0);
}