body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    position: relative;
    margin-bottom: -8px;

    width: 50dvh;
    max-width: 100dvw;
}

canvas {
    width: 50dvh;
    max-width: 100dvw;
}


#score {
    position: absolute;
    top: 5vh;
    left: 0;

    margin: 1vh;

    font-size: 2vh;
}

#title-screen {
    width: 50dvh;
    max-width: 100dvw;
    height: 100dvh;

    position: absolute;
    top: 0;
    left: 0;
    
    text-align: center;

    background-color: rgba(0, 0, 200, 0.0);
}

#logo {
    width: 70%;

    margin-top: 20%;
}

#start {
    font-size: 4vh;
}

#qr {
    width: 15dvh;
}

#info-msg {
    margin: 0 10dvh;

    font-size: 2dvh;
    background-color: snow;
    
}